__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.swp

.vscode/
.idea/
*.iml
*.code-workspace

.DS_Store
Thumbs.db

uploads/
photo/
app/static/uploads/
runs/
results/
outputs/
temp/
tmp/

my_model/**/*.pt
!my_model/train6/weights/best.pt

.env/
env/
venv/
pip-wheel-metadata/
__pycache__/
build/
dist/
.eggs/
*.egg-info/

# Игнор Git
.git/
.gitignore

# Игнор Docker артефактов
.dockerignore
docker-compose.override.yml
